{% extends 'AcmeUserBundle::layout.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<!-- Redéclaration du bloc body -->

  <div style="margin: auto; width: 700px;">

    <!-- Affichage de la variable libelle -->
    <h3 class="h3_mc">{{ libelle }}</h3><br />

    <!-- Affichage du formulaire du profil avec les variables définies -->
    <form action="profil-modified" method="post">
      <input id="id" type="hidden" name="id" value="{{app.user.id}}" /> <br />

      <label for="email">Email</label>
      <input id="email" type="text" name="email" value="{{profil_email}}" /> <br />

      <label for="adresse">Adresse</label>
      <input id="adresse" type="text" name="adresse"  value="{{profil_adresse}}" /> <br />

      <label for="tel">Téléphone</label>
      <input type="text" name="tel"  value="{{profil_telephone}}" /> <br />

      <label for="site">Site web</label>
      <input type="text" name="site"  value="{{profil_siteweb}}" /> <br /><br />

      <input type="submit"  value="Modifier le profil" /> <br />
    </form>
  </div>

<!-- fin body -->
{% endblock %}
